* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: azure;
}
.contenedorGeneral {
  width: 300px;
  height: 200px;
  border: 1px solid red;
  margin: 20px auto;
  background: rgba(0, 225, 255, 0.737);

  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.txtGrados {
  font-size: 1.2em;
  width: 60%;
  padding: 5px;
  text-align: center;
}

.btnConvertir {
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px;
}


.spanResultado {
  background: rgba(0, 225, 255, 0.737);
  width: 90%;
  text-align: center;
  font-weight: bold;
  font-style: 1.5em;
}
.titulo {
  font-weight: bold;
  font-size: 1.5em;
}
